<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <mata name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Hello. sbb!</title>
</head>

<body>
    <!-- 적용시킬 html부분 th:fragment="이름" 으로 공통 태그부분 작성 -->
</body>

</html>